<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profession.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @profession.place %>
</p>

<p>
  <strong>Person:</strong>
  <%= @person %>
</p>


<% if get_permission %>
  <%= link_to 'Edit', edit_profession_path(@profession) %> |
<% end %>
<%= link_to 'Back', professions_path %>
