<%= form_for(@house_person) do |f| %>
  <% if @house_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house_person.errors.count, "error") %> prohibited this house_person from being saved:</h2>

      <ul>
      <% @house_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :house_id %><br>
    <%= f.text_field :house_id %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.text_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
