<p id="notice"><%= notice %></p>

<p>
  <strong>House:</strong>
  <%= @house_person.house %>
</p>

<p>
  <strong>Person:</strong>
  <%= @house_person.person %>
</p>

<%= link_to 'Edit', edit_house_person_path(@house_person) %> |
<%= link_to 'Back', house_people_path %>
