<p id="notice"><%= notice %></p>

<h1>Listing Shoes</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Size</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoes.each do |shoe| %>
      <tr>
        <td><%= shoe.brand %></td>
        <td><%= shoe.size %></td>
        <td><%= shoe.person %></td>
        <td><%= link_to 'Show', shoe %></td>

        <% if get_permission %>
          <td><%= link_to 'Edit', edit_shoe_path(shoe) %></td>
          <td><%= link_to 'Destroy', shoe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if get_permission %>
  <%= link_to 'New Shoe', new_shoe_path %>
<% end %>
